<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <appSettings>
    <!-- Earliest and Latest departure dates.  If the earlest is after today's date,
         the dates will be shifted to maintain the same time span. -->
    <add key="earliest" value="2009-01-01" />
    <add key="latest" value="2009-06-01" />

    <!-- Shortest and longest trip times, in days. -->
    <add key="shortest" value="5" />
    <add key="longest" value="12" />

    <!-- Possible origin airports -->
    <add key="origins" value="BWI, IAD, DCA, JFK, LGA, EWR, BOS, PHL" />

    <add key="pointas" value="JFK, LGA, EWR" />
    <add key="pointcs" value="BWI, IAD, DCA" />

    <!-- Disabled destination airports -->
    <add key="disabled" value="" />

    <!-- Simultaneous attempts -->
    <add key="simultaneous" value="2" />

    <!-- Mode is either Round Trip Search or A-to-C Search -->
    <add key="mode" value="Round Trip Search" />

    <!-- The last date when we ran the program -->
    <add key="lastrun" value="2009-01-01"/>
  </appSettings>
  <!-- Internal configuration settings below -->
  <log4net debug="false">
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
</configuration>